body
{
    font-family:hacen;
}
@font-face 
{
    font-family:hacen;
    src:url('/../../fonts/hacen.ttf');
}
body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, .alert, a, .td-name, td, button.close
{
    font-family:hacen;
}
.main-btn
{
    display: inline-block;
    color: #fff;
    direction: rtl;
    font-size: 18px;
    padding: 0px 20px;
    border-radius: 12px;
    margin-left:10px;
    height:34px;
    line-height:34px;
    border:none;
    
}
.actions-bar
{
        padding: 15px 15px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}
.action-btn
{
    background:#6a777f;
}
.active-btn
{
    background:#00bf17;
}
.disactive-btn
{
    background:#00bf17;
}
.btn-new
{
    display: inline-block;
    background: #00cb51;
    color: #fff;
    margin: 10px 0px;
    direction: rtl;
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 12px;
    margin-left:10px;
}
.camp-info
{
    text-align: center;
    border-top: 2px solid #47b9f9;
    border-bottom: 2px solid #47b9f9;
    padding: 10px;
    display: table-cell;
    height: 180px;
    vertical-align: middle;
    width:160px;
    font-size: 34px;
}
.camp-info div:nth-child(1)
{
    font-size: 38px;
    color: #34a1de;
}
.camp-info div:nth-child(2)
{
    font-size:20px;
    color:gray;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9
{
    float:right;
}
.btn-new i
{
    margin-left:7px;
}
.con-box
{
    direction:rtl;
}
.options-color
{
    background:#2eb2e6 !important;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4
{
    margin:0px !important   ;
}
.header 
{
       border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    background-color: #2eb2e6;
    margin-bottom: 20px;
    padding: 10px;
    color:#fff;
}
.btn-new:hover
{
    color:#fff;
}
.dir-r
{
    direction:rtl;
}
.option-btn
{
    display:inline-block;
    color:#fff;
    padding:10px;
    background-color:#48525f;
}
.option-btn:hover{
    color:#fff;
}
.actions-list
{
    text-align:left;
    float: left;
    margin: 10px 0px;
}
.con-box
{
    padding:15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(63, 63, 68, 0.1);
    background-color: #FFFFFF;
    margin-bottom: 30px;
}
.card
{
    -webkit-border-radius:0px;
    -moz-border-radius:0px;
    border-radius: ;:0px;
}
.blue
{
    background:#2eb2e6  !important;
}
::placeholder
{
    color:#b5b5b5 !important;
}
input[type=checkbox], input[type=radio]
{
    margin:3px !important;
}
.radio-inline input[type=radio]
{
    right:0px;
}
.radio-inline
{
    padding-right:20px;
    padding-left:13px;
}
select option:first-child
{
    color:#b5b5b5 !important;
}
select
{
    color:#b5b5b5 !important;
}
select option
{
    color:#000;
}
.main-panel > .content
{
    padding: 70px 15px;
}
.navbar-fixed
{
    position:fixed;
    width:calc(100% - 262px);
    z-index:5;
    background:#fff;
    opacity:1;


}
.sidebar .sidebar-wrapper
{
    text-align:right;
}
.navbar-header
{
    float:right;
}
.sidebar
{
    right:0px;
    left:auto;
}
.navbar-brand
{
    float:right;
}
.calend  .fa-calendar
{

}
.calend
{
    background-color: #47b9f9;
    width: 210px;
    height: 180px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-size: 16px;
}
.calend .day
{
        color: #0f2633;
    font-size: 18px;
}
.calend .start_end
{
    
}
.calend .date
{
    font-size:30px;
}
.calend .fa-calendar-alt
{
    font-size:65px;
    margin-bottom: 10px;
}
.camp .col-lg-3
{
    display:table;
}
.calend div
{
    margin-bottom: 10px;
}
@media (max-width:767px)
{
    .main-panel
    {
     margin-right:0px !important;
    }
    .navbar-fixed
    {
        width:100%;
    }
    .camp-info:last-child
    {
        border-bottom:none;
    }
    .con-box
    {
        padding:5px;
    }
    .btn-new
    {
        padding:10px;
    }
}
.btn-info.btn-fill
{
    display: inline-block;
    background: #00cb51;
    color: #fff;
    margin: 10px 0px;
    direction: rtl;
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 12px;
    margin-left: 10px;
    border:none;
}
.btn-info.btn-fill:hover
{
    display: inline-block;
    background: #00cb51;
    color: #fff;
    margin: 10px 0px;
    direction: rtl;
    font-size: 18px;
    padding: 15px 20px;
    border-radius: 12px;
    margin-left: 10px;
}
.bootstrap-select .dropdown-menu.inner ,.bootstrap-select .dropdown-toggle .filter-option-inner
{
    text-align:right;
}
.sep
{
    height: 20px;
    display: inline-block;
}
.invoice-info
{
    background:#fff;
    padding:20px;
}
#DataTables_Table_0_filter
{
    margin-bottom:15px;
}
.dataTables_wrapper .dataTables_filter input
{
    margin-right:10px;
}
.table.dataTable th
{
    text-align: right;
    color: white;
    background:#2eb2e6;

}
.dataTables_wrapper .dataTables_filter input
{
    display: inline-block;
    width: 300px;
    height: 40px;
    border: 1px solid lightgray;
    border-radius: 2px;
    padding-right: 10px;
}
label
{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 400;
    color: #5f5f5f;
}
.table.dataTable tr td
{
 color:gray;
}
.table.dataTable tr td:nth-child(2)
{
    color:black;
}
.table.dataTable tr td:nth-child(1) ,.table.dataTable tr th:nth-child(1)
{
    width: 30px !important;
    text-align: center;
}
.table.dataTable tr td:last-child a
{
    color:darkgrey !important;
    padding:10px;
}
.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9
{
    float:right !important;
}
.gray
{
    color:gray;
}
.invoice-link
{
    padding-left: 25px;
    display: inline-block;
    font-size: 20px;
    bordeR: 1px solid;
    border-radius: 3px;
    margin-top: 15px;
    color: #88888b;
    margin-left:20px;

}
.invoice-link:hover , .invoice-link:active,.invoice-link:visited,.invoice-link:focus
{
    border: 1px solid #2eb2e6;
    color: #2eb2e6;
}
.invoice-link i {
    background: #2eb2e6;
    color: #fff;
    padding: 20px;
    margin-left: 15px;
}
.status-red
{
  background:#e21616 !important;
}
.std-report i
{
    font-size: 50px;
    color: #2eb2e6;
    padding: 15px;
}
.std-report .num
{
    color: gray;
    font-size: 25px;
}
.white
{
    color:#fff !important;
}
.link-list
{
    padding: 15px 30px;
    background: #2f455d;
    color: white;
    border-radius: 3px;
    padding-right: 10px;
    display: inline-block;
    margin-bottom: 10px;
}
.link-list i
{
    height: 30px;
    width: 30px;
    background: #5797dc;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    margin-left: 10px;
}
.students-list ul
{
  list-style:none;   
    padding:0px;
}
.students-list ul li a
{
    width: 100%;
    display: block;
    padding: 15px;
    background: white;
    color: #666666;
    font-size: 20px;
    border-bottom: 1px solid #dfdfdf;
}
a:active,a:focus,a:hover,a:visited
{
    color:auto;
}
ul
{
    list-style:none;
}
input[type=date]
{
    text-align:right;
    float:right;
}
.view-controles
{
        font-size: 40px;
    margin-bottom: 10px;
    margin-left: 20px;
    display: inline-block;
}